{{#> master data }}
{{#*inline "template-content"}}

<main class="main">
	<div class="container">
		<div class="content-wrap">
			<div class="content-row small">
				{{> profile profile}}
				{{> account account}}
			</div>
			<div class="content-row">
				{{> weather weather}}
				{{> settings settings}}
				{{> gallery gallery}}
			</div>
			<div class="content-row small">
				{{> publish-photos publish-photos}}
				{{> calendar calendar}}
			</div>
		</div>
	</div>
</main>
{{/inline}}
{{/master}}