//---------- weather
//------------------------------------------------------------------------------
.weather {
	min-height: 280px;
	position: relative;
}

.weather-bg {
	width: 100%;
	height: auto;
}
.weather__ovarlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	background-color: rgba(55, 64, 71, 0.9);
	display: flex;
	text-align: center;
	flex-direction: column;
	padding: 36px 0;
	embed {
		margin-bottom: 36px;
	}
	@include media-breakpoint-up(lg) {
		width: 220px;
	}
}
.weather__ovarlay-temp {
	font-size: 50px;
	color: $white;
	font-weight: 100;
	@include media-breakpoint-up(md) {
		font-size: 60px;
	}
}
.weather__ovarlay-description {
	font-size: 14px;
	color: rgba($white, 0.6);
	line-height: 1.2;
}
.weather__location {
	position: absolute;
	right: 15px;
	top: 15px;
	color: $white;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1.8;
	font-weight: 400;
	&::before {
		@include font-styles;
		content: font-char(ico-location-icon);
		position: absolute;
		left: -13px;
		top: 1px;
		font-size: 13px;
	}
	@include media-breakpoint-up(md) {
		right: 27px;
		top: 20px;
	}
}

