<div class="account card">
	<div class="account__card">
		<div class="account__card-top">
			<h3 class="h3 account__title">{{title}}</h3>
			<form action="" class="account-form">
				<input type="text" placeholder="Username"  class="account-input">
				<input type="password" placeholder="Password" class="account-input">
			</form>
		</div>
		<div class="account__card-bottom bg-ovarlay">
			<a href="javascript:;">Forgot your password??</a>
			<button type="button" class="btn btn--purple">
				<span class="btn-text">Login</span>
			</button>
		</div>
	</div>
</div>
