<div class="calendar card">
	<div class="calendar__main">
		<div class="calendar__right-wrapper has-cover" style="background-image: url('/src/assets/images/Photo.jpg');">
			<span class="day"></span>
			<div class="calendar__month-year">
				<i class="calendar__left-arrow" aria-hidden="true"></i>
				<span class="month"></span>
				<span class="year"></span>
				<i class="calendar__right-arrow" aria-hidden="true"></i>
			</div>
		</div>
		<div class="calendar__sideb">
			<div class="calender">
			<table class="calendar__table">
				<thead>
				<tr class="weedays">
					<th data-weekday="sun" data-column="0">Sun</th>
					<th data-weekday="mon" data-column="1">Mon</th>
					<th data-weekday="tue" data-column="2">Tue</th>
					<th data-weekday="wed" data-column="3">Wed</th>
					<th data-weekday="thu" data-column="4">Thu</th>
					<th data-weekday="fri" data-column="5">Fri</th>
					<th data-weekday="sat" data-column="6">Sat</th>
				</tr>
				</thead>
				<tbody>
				<tr class="days" data-row="0">
					<td data-column="0"></td>
					<td data-column="1"></td>
					<td data-column="2"></td>
					<td data-column="3"></td>
					<td data-column="4"></td>
					<td data-column="5"></td>
					<td data-column="6"></td>
				</tr>
				<tr class="days" data-row="1">
					<td data-column="0"></td>
					<td data-column="1"></td>
					<td data-column="2"></td>
					<td data-column="3"></td>
					<td data-column="4"></td>
					<td data-column="5"></td>
					<td data-column="6"></td>
				</tr>
				<tr class="days" data-row="2">
					<td data-column="0"></td>
					<td data-column="1"></td>
					<td data-column="2"></td>
					<td data-column="3"></td>
					<td data-column="4"></td>
					<td data-column="5"></td>
					<td data-column="6"></td>
				</tr>
				<tr class="days" data-row="3">
					<td data-column="0"></td>
					<td data-column="1"></td>
					<td data-column="2"></td>
					<td data-column="3"></td>
					<td data-column="4"></td>
					<td data-column="5"></td>
					<td data-column="6"></td>
				</tr>
				<tr class="days" data-row="4">
					<td data-column="0"></td>
					<td data-column="1"></td>
					<td data-column="2"></td>
					<td data-column="3"></td>
					<td data-column="4"></td>
					<td data-column="5"></td>
					<td data-column="6"></td>
				</tr>
				<tr class="days" data-row="5">
					<td data-column="0"></td>
					<td data-column="1"></td>
					<td data-column="2"></td>
					<td data-column="3"></td>
					<td data-column="4"></td>
					<td data-column="5"></td>
					<td data-column="6"></td>
				</tr>
				</tbody>
			</table>
			</div>
		</div>

	</div>
</div>
