//----------  button
//------------------------------------------------------------------------------
a,
button {
	appearance: none;
	outline: none;
	@include media-breakpoint-up(lg) {
		&:focus {
			outline: none;
		}
	}
}

button,
input,
input[type='button'],
input[type='submit'] {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
	font-family: $font-default;
}

.btn {
	background-color: rgba($black, 0.3);
	color: $white;
	display: inline-block;
	font-size: 14px;
	font-weight: 300;
	height: 35px;
	padding: 0 20px;
	z-index: 1;
	position: relative;
	&::before {
		background-color: rgba($black, 0.8);
		content: '';
		bottom: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 0;
		z-index: 0;
		@include animation {
			transition: 0.4s ease-out;
		}
	}
	.btn-text {
		z-index: 20;
		position: relative;
		transition: 0.4s ease-in;
	}
	@include hover {
		&::before {
			width: 100%;
		}
	}
}
.btn--yellow {
	font-weight: 500;
	color: #594403;
	background-color: $yellow;
	&::before {
		background-color: rgba($black, 0.3);
	}
	@include hover {
		.btn-text {
			color: $black;
		}
	}
}
.btn--purple {
	background-color: $purple;
	font-weight: 500;
	&::before {
		background-color: rgba($white, 0.2);
	}
}
.btn--green {
	background-color: $green;
	font-weight: 500;
	&::before {
		background-color: rgba($white, 0.2);
	}
}
