<div class="weather card has-cover" style="background-image: url('assets/images/weather-bg.png');">
	<div class="weather-wrap">

		<div class="weather__ovarlay">
			<embed src="assets/images/sun-1.svg">
			<span class="weather__ovarlay-temp">{{temp}}</span>
			<span class="weather__ovarlay-description">{{descr}}</span>
		</div>
		<div class="weather__location">
			<span class="weather__location-town">{{town}}</span>
		</div>
	</div>
</div>
