<div class="publish-photos card">
	<div class="publish-photos__card">
		<div class="publish-photos__card-top">
			<img src="assets/images/Photos.svg" alt="" class="publish-photos__img">
			<h3 class="h3 publish-photos__title">{{title}}</h3>
			<p class="text publish-photo__paragraph">{{paragraph}}</p>
		</div>
		<div class="publish-photos__card-bottom bg-ovarlay">
			<button type="button" class="btn btn--opacity">Cancel</button>
			<button type="button" class="btn btn--yellow">Publish</button>
		</div>
	</div>
</div>
